.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
}

.left-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 60px;
}

.left-header h1 {
    font-size: 50px;
    font-weight: 600;
    color: #6C72CC;
}

.left-header button {
    background-color: #6C72CC;
    border: none;
    color: white;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 5px;
}

.right-header {
    position: relative;
    width: 450px;
    height: 400px;
    overflow: hidden;
}

.right-header img {
    width: 450px;
    height: 400px;
    object-fit: fill;
    object-position: center;
    position: absolute;
    bottom: -25px;
    left: 0;
}