.navbar {
  background-color: white;
  width: 100%;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 10px 50px;
  border-bottom: 2px solid #6C72CC;
}

.navbar-left-bar {
  color: #6C72CC;
  font-size: 30px;
  font-weight: bold;
}

.navbar-right-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navbar-right-bar a{
  color: #6C72CC;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.navbar-right-bar a:hover{
  border-bottom: 2px solid #6C72CC;
  padding-bottom: 1px;
}