.testimony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}
.testimony > h1 {
    font-size: 40px;
    font-weight: 600;
    color: #6C72CC;
}
.testimony > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #6C72CC;
    border-radius: 10px;
}
.testimony > div > img {
    height: 500px;
}
.testimony > div > div {
    flex: 1;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-right: 50px;

}
.testimony > div > div h1 {
    font-size: 40px;
    font-weight: 600;
}
.testimony > div > div h2 {
    font-size: 30px;
    font-weight: 600;
}
.testimony > div > div h3 {
    font-size: 30px;
    font-weight: 100;
}