/* ===== Home ===== */

.home {
    width: 100%;
    height: 100%;
}

/* ===== Header ===== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
}

.left-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 60px;
}

.left-header h1 {
    font-size: 50px;
    font-weight: 600;
    color: #6C72CC;
}

.left-header button {
    background-color: #6C72CC;
    border: none;
    color: white;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 5px;
}

.right-header {
    position: relative;
    width: 450px;
    height: 400px;
    overflow: hidden;
}

.right-header img {
    width: 450px;
    height: 400px;
    object-fit: fill;
    object-position: center;
    position: absolute;
    bottom: -25px;
    left: 0;
}

/* ===== Class ===== */

.class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    padding: 50px 50px;

    background-color: #6C72CC;
}

.left-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.left-class h1 {
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.left-class p {
    font-weight: 600;
    color: white;
}

.right-class {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right-class button {
    border: none;
    background-color: white;
    color: #6C72CC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 250px;
}

.right-class button > img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.right-class button div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.right-class button div h1 {
    font-weight: 600;
}

/* ===== Teacher ===== */

.teacher {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 50px 50px;
}
.teacher h1 {
    font-size: 40px;
    font-weight: 600;
    color: #6C72CC;
}
.teacher > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
}


.teacher button {
    width: 300px;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
}
.top-teacher-button {
    width: 100%;
    flex: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.top-teacher-button img {
    width: 250px;
    /* height: 350px; */
    object-fit: contain;
    object-position: center;
    position: absolute;
}
.top-teacher-button div {
    width: 100%;
    height: 50px;
    background-color: #6C72CC;
    border-radius: 10px;
}
.bottom-teacher-button {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #6C72CC;
    padding: 20px;
    border-radius: 10px;
}
.bottom-teacher-button p {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}
.bottom-teacher-button div {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 25px 25px;
    overflow: hidden;
}
.person {
    grid-column: 1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* ===== Quote ===== */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote div {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.quote div h1 {
    font-size: 40px;
    font-weight: 600;
    color: white;
    z-index: 2;
    padding-left: 50px;
}
.quote-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.quote-hero {
    height: 100%;
    object-fit: contain;
    z-index: 2;
}
/* ===== Testimony ===== */

.testimony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}
.testimony > h1 {
    font-size: 40px;
    font-weight: 600;
    color: #6C72CC;
}
.testimony > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #6C72CC;
    border-radius: 10px;
}
.testimony > div > img {
    height: 500px;
}
.testimony > div > div {
    flex: 1;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-right: 50px;

}
.testimony > div > div h1 {
    font-size: 40px;
    font-weight: 600;
    overflow: hidden;
}
.testimony > div > div p {
    overflow: hidden;
}
.testimony > div > div h2 {
    font-size: 30px;
    font-weight: 600;
    overflow: hidden;
}
.testimony > div > div h3 {
    font-size: 30px;
    font-weight: 100;
    overflow: hidden;
}